.navBar{
    background-color: black;
    padding:1rem;
}
.icon-name{
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
.productDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top:5rem;
}
span{
  margin-left:1rem;
  background-color: gray;
}
